.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: white;
  border-bottom: 1px solid #0f8b8d;

  > div {
    display: flex;
    gap: 1rem;
  }

  &--icon {
    align-items: center;
    align-items: center;
    background-color: #40596b;
    border-color: #40596b;
    border-radius: 50%;
    display: inline-flex;
    height: 34px;
    justify-content: center;
    justify-content: center;
    line-height: normal;
    min-width: 34px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 34px;
    color: white;
  }

  &--logout {
    width: 14px;
    cursor: pointer;
    filter: invert(46%) sepia(85%) saturate(5170%) hue-rotate(343deg) brightness(100%) contrast(92%);

    &:hover {
    }
  }
}
