.nav {
  &--title {
    display: flex;
    align-items: center;
    justify-content: center;
    &--logo {
      height: 34px;
      width: 34px;
      margin-right: 12px;
    }
  }

  &--profile_information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &-logout {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.12);

      &_icon {
        width: 15px;
        height: 15px;
        filter: invert(20%) sepia(78%) saturate(6546%) hue-rotate(354deg)
          brightness(85%) contrast(79%);
      }
    }
  }
}
